<div class="form-group row">
  <label for="" class="col-sm-3 col-form-label" [innerHTML]="options.label == null ?'Empty label':options.label"></label>
  <div class="col-sm-8">
    <textarea 
      name="text-input"
      [readonly]="options.readonly"  
      [disabled]="options.readonly"  
      [required]="options.required" 
      [placeholder]="options.placeholder == null ? 'Empty label':options.placeholder"
      [maxLength]="options.length.max == null ? 254 : options.length.max" 
      [rows]="(options.rows == null || options.rows == 0 )? 1 : options.rows"
      [cols]="(options.cols == null || options.cols == 0 )? 9 : options.rows"
      class="form-control"></textarea>
  </div>
  <div class="col-sm-1">
    <a (click)="options.readonly = !options.readonly" class="btn btn-default">
      <i *ngIf="options.readonly == true" class="far fa-eye"></i>
      <i *ngIf="options.readonly == false" class="far fa-eye-slash"></i>
    </a>
  </div>
</div>